<app-base-auth
  [header]="header"
  [loading]="loading"
  [error]="loginError"
  [errorMessage]="loginErrorMessage"
>
  <ng-template #main>
    <app-input-control
      [control]="logForm.get('email')"
      type="email"
      placeholder="Email"
      autocomplete="email"
    ></app-input-control>

    <app-input-control
      [control]="logForm.get('password')"
      type="password"
      placeholder="Password"
      autocomplete="current-password"
    ></app-input-control>
  </ng-template>
  <ng-template #btnBox>
    <button class="white" mat-raised-button color="accent" (click)="onSubmit()">
      Logowanie
    </button>
    <button
      mat-raised-button
      [routerLink]="['/auth/register']"
      routerLinkActive="active"
    >
      Rejestracja
    </button>
  </ng-template>
  <ng-template #additional>
    <div
      [routerLink]="['/auth/recovery']"
      routerLinkActive="active"
      (click)="setRecoveryRoute()"
    >
      Zapomniałeś hasła?
    </div>
  </ng-template>
</app-base-auth>
