<div id="container">
  <p-progressBar mode="indeterminate" *ngIf="loading"></p-progressBar>
  <div class="form">
    <div id="header">
      <div id="header-text">{{ header }}</div>
      <ng-container *ngTemplateOutlet="headerContentTmpl"></ng-container>
    </div>
    <div id="form-container">
      <div id="logErr" *ngIf="error !== undefined">
        <mat-error *ngIf="error">{{ errorMessage }}</mat-error>
      </div>
      <ng-container *ngTemplateOutlet="mainTmpl"></ng-container>
      <div class="btnBox">
        <ng-container *ngTemplateOutlet="btnBoxTmpl"></ng-container>
      </div>
      <div class="additionalLink">
        <ng-container *ngTemplateOutlet="additionalTmpl"></ng-container>
      </div>
    </div>
  </div>
</div>
