<app-base-auth [header]="header" [loading]="loading">
  <ng-template #main>
    <app-input-control
      [control]="passForm.get('email')"
      type="email"
      placeholder="Email"
      autocomplete="email"
    ></app-input-control>
  </ng-template>
  <ng-template #btnBox>
    <button class="white" mat-raised-button color="primary">
      Dalej
    </button>
    <button
      mat-raised-button
      [routerLink]="['/auth/login']"
      routerLinkActive="active"
    >
      Wróć
    </button>
  </ng-template>
</app-base-auth>
