@import 'src/styles/colors.scss';
:host {
  height: 610px;
}

.group {
  padding: 5px 10px;
  float: left;
  mat-form-field {
    width: 100%;
    flex-direction: row;
  }
}
.full {
  width: 94%;
}
.half {
  width: 45%;
}

label {
  color: $grey;
}
input:checked ~ label {
  color: $primary;
  transition: color 0.2s ease-in-out;
}
input:checked ~ label:hover {
  color: $primary-light;
}
label:hover {
  color: gray;
}

#profiles-container {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  #profile-info {
    color: $grey;
    font-size: 10px;
  }
  #profiles {
    display: flex;
    .cc-selector input {
      margin: 0;
      padding: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
  }
  .card-cc {
    cursor: pointer;
    background: #eee;
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
  }
}
