<app-base-auth
  [header]="header"
  [loading]="loading"
  [error]="registrationError"
  [errorMessage]="registrationErrorMessage"
>
  <ng-template #headerContent>
    <div id="profiles-container">
      <span id="profile-info">Wybierz swój profil</span>
      <div id="profiles">
        <div
          class="profile"
          *ngFor="let profile of profiles"
          class=" cc-selector"
        >
          <input
            id="{{ profile.value }}"
            type="radio"
            [formControl]="regForm.get('profileName')"
            value="{{ profile.value }}"
            (focus)="hide(profile.value)"
          />
          <label
            for="{{ profile.value }}"
            class="{{ profile.value }} card-cc"
            matTooltip="{{ profile.message }}"
            matTooltipPosition="below"
          >
            <fa-icon [icon]="['fas', profile.icon]"></fa-icon>
          </label>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #main>
    <div class="register-cont">
      <div class="group half">
        <app-input-control
          [control]="regForm.get('name')"
          type="text"
          placeholder="Name"
          autocomplete="given-name"
          [setAutofocus]="true"
        ></app-input-control>
      </div>
      <div class="group half">
        <app-input-control
          [control]="regForm.get('lastName')"
          type="text"
          placeholder="Last name"
          autocomplete="family-name"
        ></app-input-control>
      </div>
      <div
        class="group"
        [ngClass]="
          (regForm.get('profileName') | valueChange | async) === 'Student'
            ? 'full'
            : 'half'
        "
      >
        <app-input-control
          [control]="regForm.get('email')"
          type="text"
          placeholder="Email"
          autocomplete="email"
          controlHint="Należy podać prawdziwy adres email"
        ></app-input-control>
      </div>
      <div
        class="group half"
        *ngIf="(regForm.get('profileName') | valueChange | async) === 'Student'"
      >
        <app-input-control
          [control]="regForm.get('albumID')"
          type="text"
          placeholder="Nr Albumu"
        ></app-input-control>
      </div>
      <div class="group half">
        <app-input-control
          [control]="regForm.get('phoneNum')"
          type="tel"
          placeholder="Nr telefonu"
          autocomplete="tel"
        ></app-input-control>
      </div>
      <div class="group half">
        <app-input-control
          [control]="regForm.get('password')"
          type="password"
          placeholder="Password"
          (controlKeydown)="clearPasswordConfirm()"
        ></app-input-control>
      </div>
      <div class="group half">
        <app-input-control
          [control]="regForm.get('passwordConfirm')"
          type="password"
          placeholder="Confirm password"
        ></app-input-control>
      </div>
    </div>
  </ng-template>

  <ng-template #btnBox>
    <button
      type="button"
      class="white"
      mat-raised-button
      color="primary"
      (click)="onSubmit()"
    >
      Rejestracja
    </button>
  </ng-template>
  <ng-template #additional>
    <div [routerLink]="['/auth/login']" routerLinkActive="active">
      Posiadasz już konto?
    </div>
  </ng-template>
</app-base-auth>
