<app-base-auth [header]="header" [loading]="loading">
  <ng-template #main>
    <app-input-control
      [control]="passwordForm.get('oldPassword')"
      type="password"
      placeholder="stare hasło"
      autocomplete="current-password"
    ></app-input-control>
    <app-input-control
      [control]="passwordForm.get('newPassword')"
      type="password"
      placeholder="nowe hasło"
    ></app-input-control>
  </ng-template>
  <ng-template #btnBox>
    <button class="white" mat-raised-button color="accent">
      Zmień hasło
    </button>
  </ng-template>
</app-base-auth>
