<app-dashboard-bar
  [groupTitle]="groupTitle"
  [buttonDets]="buttonDets"
  (buttonClick)="redirectToNew()"
></app-dashboard-bar>
<app-dashboard-list [itemArr]="surveys | async" [emptyListInfo]="emptyListInfo">
  <ng-template let-survey>
    <app-dashboard-tile [itemData]="survey" (tileClick)="openCreator(survey)">
      <div class="title">{{ survey.title }}</div>
      <div class="date">{{ survey.createdAt | createdDate }}</div>
      <div class="time">{{ survey.createdAt | createdTime }}</div>
    </app-dashboard-tile>

    <button mat-icon-button (click)="openConfirmDeleteDialog(survey.id)">
      <fa-icon [icon]="['fas', 'times']"></fa-icon>
    </button>
  </ng-template>
</app-dashboard-list>
